<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84880662449-aiv7etdjjv7nh9b32a10c23cjsdr9n4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84880662449-aiv7etdjjv7nh9b32a10c23cjsdr9n4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84880662449-p9jkk2n7galqfkckn3h1gij59ui9l56s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuiqFZAp_brNG-JDVvEoVdULymEox2wlo</string>
	<key>GCM_SENDER_ID</key>
	<string>84880662449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodie</string>
	<key>PROJECT_ID</key>
	<string>goodie-8814a</string>
	<key>STORAGE_BUCKET</key>
	<string>goodie-8814a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84880662449:ios:be5b4bbb965c41f9872790</string>
</dict>
</plist>